@font-face {
    font-family: myFont;
    src: url(res\font\Courgette-Regular.ttf);
  }
  .customFont {
    font-family: 'Courgette', cursive;
  }
.bg-nav{
    background-color: #4CAF50;
}
.tx-color-w{
    color: white;
}
.tx-b{
    font-weight: bold;
}
.txmainSize{
    font-size:3vw;
}
.center{
    text-align: center;
}